/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-card {
  margin: 10px;
  background-color: #f7f7f7;
  float: left;
  width: 300px;
}
